include weather2alert/weights/nn_full_medicare/config.yaml
include weather2alert/weights/nn_full_medicare/posterior_samples.pt
include weather2alert/weights/nn_debug_medicare/config.yaml
include weather2alert/weights/nn_debug_medicare/posterior_samples.pt
include weather2alert/weights/master.yaml
include weather2alert/data/processed/bspline_basis.parquet
include weather2alert/data/processed/endogenous_states_actions.parquet
include weather2alert/data/processed/exogenous_states.parquet
include weather2alert/data/processed/heat_alerts.parquet
include weather2alert/data/processed/confounders.parquet
include requirements.txt
