include weights/nn_full_medicare/config.yaml
include weights/nn_full_medicare/posterior_samples.pt
include weights/nn_debug_medicare/config.yaml
include weights/nn_debug_medicare/posterior_samples.pt
include weights/master.yaml
include data/processed/bspline_basis.parquet
include data/processed/endogenous_states_actions.parquet
include data/processed/exogenous_states.parquet
include data/processed/heat_alerts.parquet
include data/processed/confounders.parquet
include requirements.txt
